.containerbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.searchresult{
    margin-top: 10px;
    margin-left: 20px;
}

@media screen and (max-width: 800px) {
    .containerbox{
        flex-direction: column;
    }
}